<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Common Head</title>
    <th:block th:fragment="head">
        <link rel="stylesheet" type="text/css" href="/static/style/components/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/site.css">

        <link rel="stylesheet" type="text/css" href="/static/style/components/container.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/grid.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/header.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/image.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/menu.css">

        <link rel="stylesheet" type="text/css" href="/static/style/components/divider.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/dropdown.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/segment.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/button.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/list.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/icon.css">
        <link rel="stylesheet" type="text/css" href="/static/style/components/transition.css">

        <link rel="stylesheet" type="text/css" href="/static/style/semantic.min.css">
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="/static/style/semantic.min.js"></script>
    </th:block>
</head>
<body>

</body>
</html>