<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div class="ui vertical footer segment inverted" th:fragment="footer">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui link list inverted">
                    <a class="item" href="https://www.transifex.com/organization/semantic-org/" target="_blank">Help Translate</a>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui link list inverted">
                    <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub Repo</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>