<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Course Editor</title>
    <th:block th:replace="fragments/common_head :: head"></th:block>
    <th:block th:replace="fragments/header :: head"></th:block>
</head>
<body>

<div class="pusher">
    <div th:replace="fragments/header :: header"></div>
    <div class="ui floated column"></div>
    <div class="ui main text container three floated column">
        <div class="ui vertical stripe segment four column grid" th:fragment="content">
            <div class="row">
                <div>
                    <form method="post" th:action="@{/courses/addCourse}">
                        <input class="ui input" type="text" name="courseName" placeholder="Название курса"/>
                        <input class="ui input" type="text" name="description" placeholder="Описание">
                        <button class="ui green button" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui floated column"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>